ion-content{
    background-color: #FAFAFA;
}

ion-item{
    background-color: #FAFAFA;
}

ion-item{
    margin:0px;
}

ion-footer{
    // border-top: .5px solid #000;
    background-color: #BBB;
}


.btn-footer{
    //background-color: #FAFAFA;
}

.star {
    color: #EAA71F;
}

.heart {
    font-size: 2em;
}

.love {
    color: red;
}
  
.category {
    margin-right: 10px;
}